:root{
    --blue: #1d72d9;
    --border: #c8c8c8;
    --text: #333;
    --radius: 6px;
    --form-max-width: 800px;

}
header{
    color: rgb(41, 114, 223);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
#cone{
    color: #FF5F05;
    width: 32px;
    height: 32px;
}
.pass-info{
    border: 4px solid black;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    margin: 20px auto;
    padding: 100px 20px;
    border-radius: 8px;
    align-items: center;
    justify-items: center;
    max-width: 800px;
}
.form-group{
    display: contents;
}
.form-group label{
    white-space: nowrap;
}
input, select{
    padding: 10px;
    font-size: 14px;
    border: 2px solid var(--border);
    border-radius: var(--radius);
    width: 90%;
    box-sizing: border-box;
}
label{
    font-size: 14px;
}
.submit-btn{
    background-color: var(--blue);
    color: rgb(250, 234, 5);
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: var(--radius);
    cursor: pointer;
    margin-top: 20px;
    grid-column: 2;
    justify-self: end; 
    width: 40%;
    box-sizing: border-box;

        margin-right: 35px;
}

 .ticket{
    border: 2px solid yellow;
   padding: 1rem;
   margin-top: 1rem;
   border-radius: 8px;
   background-color: white;
   text-align: center;
   width: 300px;
   box-sizing: border-box;
} 
.ticket-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.ticket-icon{
    font-size: 2rem;
    color: var(--blue);
}
.ticket h2{
    margin: 0;
    font-size: 1.2rem;
    color: var(--blue);
}
.ticket p{
    margin: 10px 0;
    font-size: 0.9rem;
}
.ticket-actions{
    display: flex;
    justify-content: space-between;
}
.ticket-actions i{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--blue);
}
#tickets-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}